:root {
    --sidebar-width: 5.5em;
}

.dark {
    background-color: black;
}

body {
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

img {
    max-width: 100%;
}

.card-style-sm {
    display: inline-block !important;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;

    margin-right: 6em;
    padding-top: 1vh;
    width: var(--sidebar-width);
    height: 100%;

    background-color: #0c1955;
    color: white;
    white-space: nowrap;
}

.sidebar a {
    text-decoration: none;
    font-size: 5em;
    color: white;
    display: block;
}

.sidebar a:hover {
    color: lightskyblue;
}

.sidebar a i {
    font-size: calc(var(--sidebar-width) * 0.2);
}

#content {
    margin-left: var(--sidebar-width);
}

.material-icons,
.icon-text {
    vertical-align: middle;
}

.material-icons {
    padding-bottom: 3px;
}

.modal {
    padding-right: 75vw !important;
}
