<!DOCTYPE html5>

<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>PPIO</title>
        <script src="https://cdn.jsdelivr.net/npm/json2csv@4.2.1"></script>
        <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
        <link rel="stylesheet" href="static/css/styles.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css"
              rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
              integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link href="static/js/jquery.range.css" rel="stylesheet">
        <script src="static/js/jquery.range.js"></script>
        <script type="text/javascript" src="static/js/controller.js">
            var data = {{params[3] | safe}}
            var title = {{params[4] | safe}}
        </script>
    </head>
    <body>
        <div class="sidebar">
            <a href="/" title="Statistics Page">
                <span title="Statistics Page">
                    <i class="material-icons">insert_chart_outlined</i>
                    <span class="icon-text"></span>
                </span>
            </a>
            <a href="#" onclick="showMap()" title="Events Near Me">
                <span title="Events Near Me">
                    <i class="material-icons">near_me</i>
                    <span class="icon-text"></span>
                </span>
            </a>
            <a href="/organize" title="Cleanup Events">
                <i title="Cleanup Events" class="material-icons">event</i>
                <span class="icon-text"></span>
            </a>
            <a href="/references" title="References">
                <i title="References" class="material-icons">book</i>
                <span class="icon-text"></span>
            </a>
            <a href="/contact" title="Contact">
                <i title="Contact" class="material-icons">contact_page</i>
                <span class="icon-text"></span>
            </a>
            <a href="#" id="toggle-dark-mode" title="Toggle dark mode">
                <i title="Toggle dark mode" class="material-icons">nights_stay</i>
                <span class="icon-text"></span>
            </a>
        </div>
        <div id="content" class="container">
            <div style="display: none">
                <p id = "city-l" style="display: none">{{params[6] | safe}}</p>
                <p id = "country-l" style="display: none">{{params[7] | safe}}</p>
                <p id = "beach-l" style="display: none"></p>
            </div>
            <div class="row flex-display">
                <div class="four columns card card-style-bg">
                    <div class="card-body">
                        <div>
                            <input class="range-slider" type="hidden" value="25,75">
                            <div>
                                <label for="datepicker">Event Date: </label>
                                <input id="datepicker" type="text"
                                       class="search form-control form-control-sm ui-autocomplete-input" name="datepicker"
                                       placeholder="mm-yyyy" />
                                <br>
                            </div>
                            <label for="beach-location">Beach Location: </label>
                            <input id="beach-location" 
                                   name="location" class="search form-control form-control-sm w-75" type="text"
                                   placeholder="Beach Name, City, State, Country"
                                   aria-label="Search" />
                            <label for="organizationsearch">Organization: </label>
                            <input id="organizationsearch" 
                                   name="organization" class="orgsearch form-control form-control-sm w-75" type="text"
                                   placeholder="Organization Name"
                                   aria-label="Search" />
                            <div>
                                <label>Show Events By: </label>
                                <div class="custom-control custom-radio">
                                    <input class="form-check-input" type="checkbox" value="1" id="itemscollected">
                                    <label class="form-check-label" for="itemscollected">
                                        Number of Items Collected
                                    </label>
                                </div>
                                <label>Show Results By: </label>
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="country" name="resultsBy" checked>
                                    <label class="custom-control-label" for="country">City/Country</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="beach" name="resultsBy">
                                    <label class="custom-control-label" for="beach">Beach</label>
                                </div>
                            </div>
                            <div>
                                <button id="update" onclick="update()" type="button" class="btn btn-light">
                                    Search
                                </button>
                                <button id="reset" onclick="reset()" type="button" class="btn btn-light">
                                    Reset
                                </button>
                            </div>
                            <p id="warning" color="red"></p>
                        </div>
                    </div>
                </div>
                <div class="eight columns">
                    <div class="row">
                        <div class="card border-dark mb-3 card-style-sm">
                            <div class="card-header">Total Volunteers</div>
                            <div class="card-body text-dark">
                                <p class="card-text">{{params[1][0]}} </p>
                            </div>
                        </div>
                        <div class="card border-dark mb-3 card-style-sm">
                            <div class="card-header">Number of Events</div>
                            <div class="card-body text-dark">
                                <p class="card-text">{{params[1][1]}} </p>
                            </div>
                        </div>
                        <div class="card border-dark mb-3 card-style-sm">
                            <div class="card-header">Total Items Recorded</div>
                            <div class="card-body text-dark">
                                <p class="card-text">{{params[1][2]}}</p>
                            </div>
                        </div>
                        <div class="card border-dark mb-3 card-style-sm">
                            <div class="card-header">Avg Meters Covered</div>
                            <div class="card-body text-dark">
                                <p class="card-text">{{params[1][3]}} </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <div class="chart" id="map">
                                    <script>
                                        var graphs_2 = {{params[0][1] | safe}};
                                        Plotly.plot('map', graphs_2, {});
                                    </script>
                                </div>
                            </div>
                            <a href="/getData?data_type='map'"  title="Download">
                                <i title="Download" class="material-icons">get_app</i>
                                <span class="icon-text"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="main">
                    <div class="card">
                        <div class="card-body">
                            <div class="chart" id="bar">
                                <script>
                                    var graphs = {{params[0][0] | safe}};
                                    Plotly.plot('bar', graphs, {});
                                </script>
                            </div>
                        </div>
                        <a href="/getData?data_type='bar'"  title="Download">
                            <i title="Download" class="material-icons">get_app</i>
                            <span class="icon-text"></span>
                        </a>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="chart" id="scatter">
                                <script>
                                    var graphs_2 = {{params[0][2] | safe}};
                                    Plotly.plot('scatter', graphs_2, {});
                                </script>
                            </div>
                        </div>
                        <a href="/getData?data_type='scatter'" title="Download">
                            <i title="Download" class="material-icons">get_app</i>
                            <span class="icon-text"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div id="top-organization">
                <h4 id="top"></h4>
                <a id="top-link"></a>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="chart" id="wordc">
                        <img src="static/imgs/word.png" alt="word cloud">
                    </div>
                </div>
            </div>
        </div>
        <div id="infoBox" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th scope="row">Event Location</th>
                                <td ><a id="event-location" href=""></a></td>
                            </tr>
                            <tr>
                                <th scope="row">Event Organization</th>
                                <td ><a id="organization" href=""></a></td>
                            </tr>
                            <tr>
                                <th scope="row">Event Type</th>
                                <td id="event-type">Jacob</td>

                            </tr>
                            <tr>
                                <th scope="row">Event Date:</th>
                                <td id="date-record"></td>
                            </tr>
                            <tr>
                                <th scope="row">Total Items Recorded:</th>
                                <td id="total-items-recorded"></td>
                            </tr>
                            <tr id="description-block">
                                <th scope="row">Description:</th>
                                <td id="description"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="events_near_me" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="near_me_modal-title">Events Near Me</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="chart" id="near_me_map">
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            var data = {{params[3] | safe}}
            var title = {{params[4] | safe}}
            var orgsearch = {{params[8] | safe}}

            document.getElementById("top").innerText = "Top Events Organization in this location: "
            document.getElementById("top-link").href = "https://www.google.com/search?q={{params[5] | safe}}" ;
            document.getElementById("top-link").innerText = "{{params[5] | safe}}!";
        </script>
        <br />
        <p style="text-align: center;">census.opportunityproject@census.gov © 2020. All rights reserved.</p>
    </body>
</html>
