<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>PPIO</title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css"
          rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script type="text/javascript" src="static/js/orgController.js">
        var data = {{params[3] | safe}}
        var title = {{params[4] | safe}}
    </script>
</head>
<body style="background-color: whitesmoke;">
<div class="container" style="display: flex; flex-direction: column;">
    <div style="display: none">
        <p id = "city-l" style="display: none">{{params[6] | safe}}</p>
        <p id = "country-l" style="display: none">{{params[7] | safe}}</p>
        <p id = "beach-l" style="display: none"></p>
    </div>
    <div class="row flex-display">
        <div class="four columns">
            <div class="card card-style-bg" style="height: 507px;">
                <div class="card-body" style="padding: 0 !important;">
                    <p class="card-text">Filters</p>
                    <div>
                        <div style="padding-bottom: 10px;">
                            <label for="datepicker" style="color: navy">Event Date: </label>
                            <input id="datepicker" type="text"
                                   class="search form-control form-control-sm ui-autocomplete-input" name="datepicker"
                                   placeholder="mm-yyyy"
                                   style="width: 130px;display: inline-block;margin-left: 32px;"/><br>
                        </div>
                        <label for="beach-location" style="color: navy">Beach Location: </label>
                        <input id="beach-location" style="display: inline-block;width: 240px !important;"
                               name="location" class="search form-control form-control-sm w-75" type="text"
                               placeholder="Beach Name, City, State, Country"
                               aria-label="Search">
                        <label for="organization-dropdown" style="color: navy">Organization: </label>
                        <input id="organization-dropdown" style="display: inline-block;width: 240px !important;"
                               name="location" class="search form-control form-control-sm w-75" type="text"
                               placeholder="Organization Name"
                               aria-label="Search">
                        <div>
                            <label style="color: navy">Show Results By: </label>
                            <div class="custom-control custom-radio" style="padding-left: 140px;">
                                <input type="radio" class="custom-control-input" id="country" name="resultsBy" checked>
                                <label class="custom-control-label" for="country">City/Country</label>
                            </div>
                            <div class="custom-control custom-radio" style="padding-left: 140px;">
                                <input type="radio" class="custom-control-input" id="beach" name="resultsBy">
                                <label class="custom-control-label" for="beach">Beach</label>
                            </div>
                        </div>
                        <button id="update" onclick="update()" type="button" class="btn btn-light" style="color:navy">
                            Search
                        </button>
                        <p id="warning" color="red"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="eight columns">
            <div>
                <div class="card border-dark mb-3 card-style-sm" style="width:217px">
                    <div class="card-header">Average Number of Volunteers You Will Need</div>
                    <div class="card-body text-dark" style="padding-bottom: 0; display: inline-flex">
                        <p class="card-text">{{params[1][0]}}</p>
                        <i class="fa fa-hands-helping" style="padding-left: 25px;padding-top: 15px;"></i>

                    </div>
                </div>
                <div class="card border-dark mb-3 card-style-sm" style="width:217px">
                    <div class="card-header">Expected Number of Items to be Collected</div>
                    <div class="card-body text-dark" style="padding-bottom: 0">
                        <p class="card-text">{{params[1][1]}}</p>
                    </div>
                </div>
                <div class="card border-dark mb-3 card-style-sm" style="width:217px">
                    <div class="card-header">Average Meters Expected to Cover</div>
                    <div class="card-body text-dark" style="padding-bottom: 0">
                        <p class="card-text">{{params[1][1]}}</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="card" style="color:white; display:inline-block; margin-left: 10px;">
                    <div class="card-body">
                        <div class="chart" id="map" style="display:inline-block; background:white;">
                            <script>
                                var graphs_2 = {{params[0][1] | safe}};
                                Plotly.plot('map', graphs_2, {});
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div>
            <div id="mySidebar" class="sidebar">
                <div onclick="reset()" title="Statistics Page" class="sidebar-div"><span title="Statistics Page"><i class="material-icons">insert_chart_outlined</i><span
                        class="icon-text"></span></span></div><br>
                <div onclick="showMap()" title="Events Near Me" class="sidebar-div"><span title="Events Near Me"><i class="material-icons">near_me</i><span
                        class="icon-text"></span></span></div><br>
                <a href="organize.html" title="Cleanup Events"><i title="Cleanup Events" class="material-icons">event</i><span
                        class="icon-text"></span></a></span>
                </a><br>
                <a href="#" title="References"><i title="References" class="material-icons">book</i><span
                        class="icon-text"></span></span></a><br>
                <a href="#" title="Contact"><i title="Contact" class="material-icons">contact_page</i><span
                        class="icon-text"></span><span></span></a>
            </div>
            <div id="main">
                <div class="card" style="width: 1130px; color:white; display:inline-block">
                    <div class="card-body">
                        <div class="chart" id="scatter" style="display:inline-block; background:white;">
                            <script>
                                var graphs_2 = {{params[0][2] | safe}};
                                Plotly.plot('scatter', graphs_2, {});
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="top-organization" style="display: inline-block; text-align: center; color: red">
        <h4 id="top" style="text-align: center; display: inline-block" > </h4>
        <a id="top-link"  style="text-decoration:underline; font-size: x-large; color:red"></a>

    </div>
</div>
<div id="infoBox" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <th scope="row">Event Location</th>
                        <td ><a id="event-location" href=""></a></td>
                    </tr>
                    <tr>
                        <th scope="row">Event Organization</th>
                        <td ><a id="organization" href=""></a></td>
                    </tr>
                    <tr>
                        <th scope="row">Event Type</th>
                        <td id="event-type">Jacob</td>

                    </tr>
                    <tr>
                        <th scope="row">Event Date:</th>
                        <td id="date-record"></td>
                    </tr>
                    <tr>
                        <th scope="row">Total Items Recorded:</th>
                        <td id="total-items-recorded"></td>
                    </tr>
                    <tr id="description-block" style="display: none">
                        <th scope="row">Description:</th>
                        <td id="description"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="events_near_me" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="near_me_modal-title">Events Near Me</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="chart" id="near_me_map" style="display:inline-block; background:white;">
                </div>

            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    var data = {{params[3] | safe}}
    var title = {{params[4] | safe}}
    document.getElementById("top").innerText = "Top Events Organization in this location: "
    document.getElementById("top-link").href = "https://www.google.com/search?q={{params[5] | safe}}" ;
    document.getElementById("top-link").innerText = "{{params[5] | safe}}!";
</script>


</html>
